.container {
    display: grid;
    margin-top: 0px;
    margin-left: -10px;
    margin-right: -10px;
    left: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.1fr repeat(2, 1fr);
    background-color: black;
    gap: 3px;
}
.a {
    grid-column: span 2;
    text-align: center;
    background-color: rgb(255, 255, 255);
}
.b,.d {
    padding-left: 40px;
    background-color: rgb(255, 255, 255);
    
}

.c,.e {
    background-color: rgb(255, 255, 255);
    padding-left: 10px;
}
.tx1 {
    font-size: 3rem;
    
}
.tx2,.tx3 {
    font-size: 2rem;
}
.img1,.img2 {
    
    border-radius: 10px;
    border: 1px solid black;
}
a {
    text-decoration: none;
    color: rgb(30, 28, 28);
}
@media (max-width: 460px) and (min-width: 260px) {
    .tx1 {
        font-size: 2rem;
    }
    .tx2,.tx3 {
        font-size: 1rem;
    }
    .img1,.img2 {
        width: 140px;
        height: 100px;
    }
}